################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/bin/Debug
/HelloWorld/obj/Debug
/UnitTestProject/bin/Debug
/UnitTestProject/obj/Debug
/.vs/HelloWorld/v15/Server/sqlite3
/.vs/HelloWorld/v15/.suo
