################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HelloWorld/v15
/HelloWorld/bin/Debug
/HelloWorld/obj/Debug
/UnitTestProject/bin/Debug
/UnitTestProject/obj/Debug
